.cartTrue{
    background-color: #252ea0;
    color: white;
    font-family: "Times New Roman";
    font-weight: bolder;

}

.cartFalse{
    background-color: #563472;
    color: white;
    font-family: "Times New Roman";
    font-weight: bolder;
}
